[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
transformers = "*"
torch = "==1.7.0"
pandas = "*"
matplotlib = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
install_pytorch = "pip3 install torch==1.8.1 -f https://download.pytorch.org/whl/torch_stable.html"
